@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "marion";
    src: url("fonts/Marion\ Regular.ttf") format("truetype");
}

header{
    /* height: 92vh; */
    /* width: 100vw; */
    height: 92vh;
    background-image: url("img/fv_40_syou_font_gyou.png");
    background-size: contain;
    background-repeat: no-repeat;
    /* background-size: cover; */
}

/* .white-back{
    background-color: rgba(0, 0, 0, 0.26);
}
.heder-pc{
    height: 60vh;
} */



body{
    font-family: marion;
    color: #1e2b5c;
}
/* h1{
    position: absolute;
    top: 50vh;
    right: 50vw;
    font-family: marion;
} */


.onsenmark-nav{
    width: 160px;
    position: absolute;
    left: 14vw;
    top: 70vh;
    z-index: -100px;
    transform: rotate(-20deg);
}

nav{
    height: 60px;
    margin: 0;
}

ul {
    list-style-type: none; /* リストスタイルを無効にする */
    /* max-width: 800px; */
    text-align: center;
    margin: 0 auto;
}


li {
    display: inline; /* メニュー項目を水平に配置 */
    margin-right: 20px; /* 項目間の横のスペース */
}

nav a {
    font-size: 24px;
    font-weight: bold;
    text-decoration:none;
    color: #1e2b5c;
    padding: 1rem 2rem;
    border-left: 4px solid;
    /* border-right: 4px solid ; */
}

nav a:hover{
    text-decoration: none;
    color: #68B952;
}

/* nav a::before {
    content: "";
    display: inline-block;
    width: 4px; 
    height: 100%;
    background-color: #000; 
    margin-right: 8px; 
} */

.container {
    position: relative;
    background: #2c3e50;
    height: 50vh;
}

.wave {
    position: absolute;
    height: 95px;
    width: 100%;
    background: #2c3e50;
    bottom: 0;
}

.wave::before, .wave::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
}

.wave::before {
    width: 55%;
    height: 109%;
    background-color: #fff;
    right: -1.5%;
    top: 60%;
}
.wave::after {
    width: 55%;
    height: 100%;
    background-color: #2c3e50;
    left: -1.5%;
    top: 40%;
}


.explain{
    background-color: #f8dbcb;
    height: 95vh;
}

h2{
    font-size: 72px;
    padding: 25px;
    margin-left: 30px;
}

/* .explain-div{
    margin: 20px;
} */

.explain-all{
    display: flex;
    justify-content: center; /* 水平方向の中央揃え (flexboxを使用) */
    text-align: center;
    /* margin-top: 80px; */
    padding-bottom: 50px;
}

.ex-pic{
    border-radius: 50%;
    width: 25vw;
    padding: 20px 50px;
}

.ex-text{
    font-size: 24px;
}

/* .ex-text-min-div{

} */

.ex-text-min{
    font-size: 16px;
    text-align: left;
    width: 24vw;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0;
}


.onsen-all{
    background-color: #f8dbcb;
}
.onsen-title{
    font-size: 72px;
    /* text-align: center; */
}

.onsen{
    height: 70vh;
}

/* .back{
    background-color: white;
    height: 100px;
    z-index: 3;
    display: inline-block;
} */

.map{
    height: auto;
}

.map-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-name{
    font-size: 24px;
    text-decoration: none;
    color: #1e2b5c;
}

.map-name:hover{
    color: #d9532a;
}

.map-ikaho{
    position: absolute;
    left: 45vw;
    top: 28vh;
}

.map-kusatsu{
    position: absolute;
    left: 30vw;
    top: 43.5vh;
}

.map-kinugawa{
    position: absolute;
    left: 70vw;
    top: 43vh;
}

.map-hottarakashi{
    position: absolute;
    left: 21vw;
    top: 81.3vh;
}  

.map-youroukeikoku{
    position: absolute;
    left: 66vw;
    top: 86.5vh;
}

.map-hakone{
    position: absolute;
    left: 47vw;
    top: 112vh;
}


.map-pic{
    width: 80vw;
}

.popup-title{
    font-size: 32px;
    text-align: center;
}

.map-popup-group{
    display: flex;
    justify-content: center;
}

.map-popup-pic{
    width: 200px;
    margin-right: 30px;
}

.popup-text{
    font-size: 16px;
    text-align: left;
    display: flex;
    align-items: center;
}

h3{
    font-size: 40px;
    margin-bottom: 0;
    /* padding: 15px;
    margin: 10px; */
}

.kusatsu,.hakone,.kinugawa{
    margin: 0;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 536px;
    /* text-align: center; */
    z-index: 2;
}

.back{
    background-color: rgba(255, 255, 255, 0.75); 
    width: 75vw;
    height: 55vh;
    border-radius: 0 50px 50px 0; 
    box-shadow: 18px 21px 21px -10px #2c3e50;
    padding-left: 10vw;
}

.back-right{
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    float: right;
    width: 75vw;
    height: 55vh;
    border-radius: 50px 0 0 50px; 
    box-shadow: -18px 18px 21px -10px #2c3e50;
}
.description{
    font-family: 'Marck Script', cursive;
}

/* .hakone{
    float: right;
    margin-right: 112px;
} */


.onsen-ex-right {
    text-align: right; /* p要素の中身を右詰めにする */
}

.onsen-ex {
    text-align: left; /* p要素の中身を左詰めにする */
}

/* div要素を右詰めにするためのスタイル */
.onsen-ex-right {
    width: 100%; /* 100%の幅を指定 */
    margin-right: 0; /* 右の余白を0にする */
    margin-left: auto; /* 左の余白を自動計算 */
}



.onsen-pic{
    width: 40vw;
    float: right;
    position: absolute;
    left: 45vw;
    top: -1.5vh;
    /* 画像を右寄せにするためにfloatプロパティを使用します。 */
    /* margin-left: 10px; */
}



.onsen-pic-left{
    display: none;
    width: 40vw;
    float: left;
    position: absolute;
    left: 15vw;
    top: -1.5vh;
    /* 画像を右寄せにするためにfloatプロパティを使用します。 */
    /* margin-left: 10px; */
}

.popup-open {
    cursor: pointer; /* マウスオーバーでカーソルの形状を変えることで、クリックできる要素だとわかりやすいように */
}

#popup-yourou {
    display: none; /* label でコントロールするので input は非表示に */
}

.popup-overlay-yourou {
    display: none; /* input にチェックが入るまでは非表示に */
}

#popup-yourou:checked ~ .popup-overlay-yourou {
    display: block;
    z-index: 99999;
    background-color: #00000070;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#popup-ikaho {
    display: none; /* label でコントロールするので input は非表示に */
}

.popup-overlay-ikaho {
    display: none; /* input にチェックが入るまでは非表示に */
}

#popup-ikaho:checked ~ .popup-overlay-ikaho {
    display: block;
    z-index: 99999;
    background-color: #00000070;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#popup-hottarakashi {
    display: none;
}

.popup-overlay-hottarakashi {
    display: none;
}

#popup-hottarakashi:checked ~ .popup-overlay-hottarakashi {
    display: block;
    z-index: 99999;
    background-color: #00000070;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


.popup-window {
    width: 90vw;
    max-width: 560px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 6px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.popup-text {
    margin: 0;
}

.popup-text:not(:last-of-type) {
    margin-bottom: 1em
}

.popup-close {
    cursor: pointer;
    position: absolute;
    top: -26px;
    right: 0;
}



/*みーぷる*/
.manners{
    padding-bottom: 50px;
}

.manners groups{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.manners_groups {
    display: flex;
    flex-wrap: nowrap; /* デフォルトで折り返しを無効にします */
    justify-content: space-between; /* 要素間に空間を均等に配置 */
    padding-left: 80px;
    padding-right: 80px;
} 

.manner{
    border-radius: 30px;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f8dbcb;
    flex: 1; /* 幅を均等に分配 */
    padding: 10px; /* 適切な余白を追加 */
    text-align: center; /* テキストを中央寄せ */
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-top: 30px;
    box-shadow: 3px 3px 8px #1e2b5c;
}
    
.manner img{
    margin-bottom: 30px;
    width: 200px;
}

.manner p{
    font-family: marion;
    color: #1e2b5c;
    font-size: 20px;
    text-align: left;
}
    

footer{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    background-color: #f8dbcb;
}

.fuwatAnime {
    -webkit-animation-fill-mode:both;
    -ms-animation-fill-mode:both;
    animation-fill-mode:both;
    -webkit-animation-duration:1.5s;
    -ms-animation-duration:1.5s;
    animation-duration:1.5s;
    -webkit-animation-name: fuwatAnime;
    -ms-animation-name: fuwatAnime;
    animation-name: fuwatAnime;
    visibility: visible !important;
}
@-webkit-keyframes fuwatAnime {
    0% { opacity: 0; -webkit-transform: translateY(-20px); }
    100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fuwatAnime {
    0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
    100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}