@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "marion";
    src: url("fonts/Marion\ Regular.ttf") format("truetype");
}

header{
    height: 92vh;
    background-image: url("img/kusatsu.jpg");
}

body{
    font-family: marion;
    color: #1e2b5c;
}
h1{
    position: absolute;
    top: 50vh;
    right: 50vw;
    font-family: marion;
}

/*みーぷる*/
/*
.manners groups{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.manners div{
    background-color: #f8dbcb;
    width: 500px;
    height: 500px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* 各div要素を均等に配置 
    */

.manners_groups {
    display: flex;
    flex-wrap: nowrap; /* デフォルトで折り返しを無効にします */
    justify-content: space-between; /* 要素間に空間を均等に配置 */
    padding-left: 50px;
    padding-right: 50px;
}
  
  /* 各子要素のスタイル（オプション） */
.manner{
    background-color: #f8dbcb;
    flex: 1; /* 幅を均等に分配 */
    padding: 10px; /* 適切な余白を追加 */
    text-align: center; /* テキストを中央寄せ */
    height: 500px;
    margin-left: 50px;
    margin-right: 50px;
}

.manner img{
    width: 200px;
}


.footer{
    background-color: #f8dbcb;
}
ul {
    list-style-type: none; /* リストスタイルを無効にする */
    max-width: 750px;
    margin: 0 auto;
}


li {
    display: inline; /* メニュー項目を水平に配置 */
    margin-right: 20px; /* 項目間の横のスペース */
}

nav a {
    font-size: 24px;
    font-weight: bold;

}

a:hover {
    text-decoration: underline; /* リンクにマウスを乗せたときの下線 */
}

.container {
    position: relative;
    background: #2c3e50;
    height: 50vh;
}

.wave {
    position: absolute;
    height: 95px;
    width: 100%;
    background: #2c3e50;
    bottom: 0;
}

.wave::before, .wave::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
}

.wave::before {
    width: 55%;
    height: 109%;
    background-color: #fff;
    right: -1.5%;
    top: 60%;
}
.wave::after {
    width: 55%;
    height: 100%;
    background-color: #2c3e50;
    left: -1.5%;
    top: 40%;
}


.explain{
    background-color: #f8dbcb;
    height: 80vh;
}

h2{
    font-size: 72px;
    padding: 25px;
    margin-left: 30px;
}

.explain-all{
    display: flex;
    justify-content: center; /* 水平方向の中央揃え (flexboxを使用) */
    text-align: center;
}

.map-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-pic{
    width: 95vw;
}

.ex-pic{
    border-radius: 50%;
    width: 20rem;
    padding: 20px 50px;
}

.onsen-all{
    background-color: #f8dbcb;
}
.onsen-title{
    font-size: 72px;
    /* text-align: center; */
}

.onsen{
    height: 70vh;
}

h3{
    font-size: 40px;
    /* padding: 15px;
    margin: 10px; */
}

.kusatsu,.hakone,.kinugawa{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

.description{
    font-family: 'Marck Script', cursive;
}

.txt-img{

}
.hakone{
    float: right;
    margin-right: 112px;
}

.onsen-ex{
    display: inline-block;
}
.onsen-pic{
    width: 35vw;
    float: right;
    padding: 30px;
    /* 画像を右寄せにするためにfloatプロパティを使用します。 */
    /* margin-left: 10px; */
}

.onsen-pic-left{
    width: 35vw;
    float: left;
    /* 画像を右寄せにするためにfloatプロパティを使用します。 */
    /* margin-left: 10px; */
}


footer{
    height: 58px;
    text-align: center;
}